<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/Css/main.css}"/>
<link rel="stylesheet" th:href="@{/Css/bootstrap.min.css}"/>
<script th:src="@{/Js/script.js}"></script>
</head>
<body>
 <h2>This is a Thymeleaf template</h2>

    <form action="#" th:object="${department}" th:action="@{/formData}" method="post">

      <fieldset>

        <div>
          <label for="Name" th:text="#{department.deptName}">Name: </label>
          <input type="text" th:field="*{deptName}" />
        </div>
                <div>
          <label for="Name" th:text="#{department.deptId}">Id: </label>
          <input type="text" th:field="*{deptId}" />
        </div>
                <div>
          <label for="Name" th:text="#{department.deptCity}">City: </label>
          <input type="text" th:field="*{deptCity}" />
        </div>
        <!--  <div>
          <label th:text="#{subscription.type}">Type: </label>
          <ul>
            <li th:each="type : ${allTypes}">
              <input type="radio" th:field="*{subscriptionType}" th:value="${type}" />
              <label th:for="${#ids.prev('subscriptionType')}"
                th:text="#{|subscriptionType.${type}|}">First type</label>
            </li>
            <li th:remove="all"><input type="radio" /> <label>Second Type</label></li>
          </ul>
        </div> -->

        <div class="submit">
          <button type="submit" >Subscribe me!</button>
        </div>

      </fieldset>

    </form>

</body>
</html>