<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/Css/bootstrap.min.css}"/>
</head>
<body>
        <!--   <p>
        <span th:text="List of products"></span>
        </p>-->
        
      
      	<div th:if="${ not#lists.isEmpty(showAll)}">
         <table class="table table-hover">
            <tr>
              <th scope="col">Vendor</th>
              <th scope="col">Product Name</th>
              <th scope="col">Description</th>
            </tr>
            <tr th:each="product : ${showAll}">
            <th scope="row">1</th>
              <td th:text="${product.id}"></td>
              <td th:text="${product.fname}"></td>
              <td th:text="${product.lname}"></td>
            </tr>
          </table>
        </div>
        
</body>
</html>